language: julia

os:
  - osx
  - linux

julia:
  - 0.4
  - 0.5
  - nightly

branches:
  only:
    - master

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("LinearOperators"); Pkg.test("LinearOperators"; coverage=true)'

after_success:
  - julia -e 'Pkg.add("Documenter"); cd(Pkg.dir("LinearOperators")); include(joinpath("docs", "make.jl"))'
  - julia -e 'cd(Pkg.dir("LinearOperators")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder()); Codecov.submit(process_folder())'
